<script>
    $(function() {
    $("#dob").datepicker({
    dateFormat: "dd-mm-yy"
    });
    });</script>


<div class="row">

    <div class="col-md-6 col-lg-7 col-center">

        <!--Button to show different tabs-->


        <!--        <div ng-show="tab == '1'">Tab 1 data</div>
                <div ng-show="tab == '2'">Tab 2 data 2</div>
                <div ng-show="tab == '3'">Tab 3 data 3</div>-->

        <div class="panel">
            <header class="panel-heading">

                <h1>{{title}}</h1>
               

            </header>
            <button class="btn btn-brand btn-md" ng-click="tab = 1" >Legal Information</button>
            <button class="btn btn-brand btn-md" ng-click="tab = 2" >Contact Information</button>
            <button class="btn btn-brand btn-md" ng-click="tab = 3">ID's And Photos</button>
            <div class="panel-body">
                <div data-ng-controller='addclientController'>
                    <form name="form" role="form" method="POST" ng-submit="addclient(newform, form.$valid)" novalidate nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                       
                        <div ng-show="tab != '2' && tab != '3'">
                            <div class="form-group" ng-class="error('typeId')">
                                <label for="typeId" translate="USER_TYPE" class="ng-scope"></label>
                                <div class="controls">
                                    <select ng-change="reset()" name="usertype" id="usertype" class="form-control" ng-model="newform.usertype" required>
                                        <option value="" translate="USER_TYPE_PLC" class="ng-scope"></option>
                                        <option value="cedula" label="Cedula">Cedula</option>
                                        <option value="foreign" label="foreign ">foreign</option>
                                    </select>
                                    <span class="help-block text-danger" ng-show="form.usertype.$invalid && submitted"></span>
                                </div>
                            </div>
                            <!-- <p translate="FOO" class="ng-scope"></p> -->
                            <div class="form-group" ng-class="error('typeId')" ng-show="newform.usertype == 'foreign'">
                                <label for="typeId" translate="RESIDENCE" class="ng-scope"></label>
                                <div class="controls">
                                    <select  name="residence" id="residence" class="form-control" ng-model="newform.residence" ng-required = "newform.usertype == 'foreign' ">
                                        <option value="" translate="SELECT_RESIDENCE" class="ng-scope"></option>
                                        <option value="costrica" label="Cost Rica">Cost Rica</option>
                                        <option value="other" label="Other ">Other</option>
                                    </select>
                                    <span class="help-block text-danger" ng-show="form.residence.$invalid && submitted">Residence is required</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="error('title')" ng-show="newform.usertype == 'cedula'">
                                <label for="title " translate="ID_NUMBER" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="idnumber" ng-change="loaddata();quicksearch()" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8"  ng-maxlength="9" name="idnumber" type="text"  class="form-control" ng-model="newform.idnumber" ng-required="newform.usertype == 'cedula'"/>
                                    <span class="help-block text-danger" ng-show="form.idnumber.$invalid && submitted" translate="ID_DIGIT" class="ng-scope"></span>
                                    <span><button ng-click="loaddata()" class="btn btn-xl">Load</button></span>
                                    <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                </div>
                            </div>
                            <div class="form-group" ng-class="error('title')" ng-show="newform.usertype == 'foreign'">
                                <label for="title " translate="PASSPORT_NUMBER" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="passport" ng-minlength="5" name="passport" type="text" class="form-control" ng-model="newform.passport" ng-required="newform.usertype == 'foreign'"/>
                                    <span class="help-block text-danger" ng-show="form.passport.$invalid && submitted" translate="PASSPORT_VALIDATION" class="ng-scope"></span>
                                    <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                </div>
                            </div>
                            <div class="form-group" ng-class="error('title')">
                                <label for="title " translate="FIRST_NAME" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="firstname" name="firstname" type="text" class="form-control" ng-model="newform.firstname" required/>
                                    <span class="help-block text-danger" ng-show="form.firstname.$invalid && submitted" translate="FIRST_NMAE_VALIDATION" class="ng-scope"></span>
                                    <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                </div>
                            </div>
                            <hr>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('company')">
                                <label for="company" translate="LAST_NAME_1" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="Lastname1" name="Lastname1" type="text" class="form-control" ng-model="newform.Lastname1" />
                                    <span class="help-block text-danger" ng-show="form.Lastname1.$invalid && submitted">Lastname1 is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('company')">
                                <label for="company" translate="LAST_NAME_2" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="Lastname2" name="Lastname2" type="text" class="form-control" ng-model="newform.Lastname2" />
                                    <span class="help-block text-danger" ng-show="form.Lastname2.$invalid && submitted">Lastname2 is required!</span>
                                </div>
                            </div>
                            <div class="row">
                                <div  class="form-group col-sm-6 col-md-6" >
                                    <label for="postcode" translate="NATONALITY" class="ng-scope"></label>
                                    <div class="controls">
                                        <select name="nationality" id="nationality" class="form-control" ng-model="newform.nationality" required>
                                            <option value="" translate="SELECT_NATIONALITY" class="ng-scope"></option>
                                            <option value="0" label=" Costarricense">Costarricense</option>
                                            <option value="1" label="Por Opción">Por Opción</option>
                                            <option value="2" label="Naturalizado">Naturalizado</option>
                                            <option value="3" label="No indica nacionalidad">No indica nacionalidad</option>
                                            <option value="4" label="Conserva nacionalidad">Conserva nacionalidad</option>
                                        </select>
                                        <span class="help-block text-danger" ng-show="form.nationality.$invalid && submitted" translate="NATONALITY_VALIDATION" class="ng-scope"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-6" ng-class="error('postcode')">
                                    <label for="postcode" translate="GENDER" class="ng-scope"></label>
                                    <div class="controls">
                                        <select name="gender" id="gender" class="form-control" ng-model="newform.gender" required>
                                            <option value=""  class="ng-scope">Select Gender</option>
                                            <option value="1" label="Male" translate="MALE" class="ng-scope"></option>
                                            <option value="2" label="Female" translate="FEMALE" class="ng-scope"></option>
                                        </select>
                                        <span class="help-block text-danger" ng-show="form.gender.$invalid && submitted" translate="GENDER_VALIDATION" class="ng-scope"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row" >
                                <div id="ced_address" ng-show="newform.usertype == 'cedula' || newform.residence == 'costrica'">
                                    <div class="form-group col-sm-4 col-md-4">
                                        <div class="controls">
                                            <label for="title " translate="PROVINCE" class="ng-scope"></label>
                                            <select name="province" id="province" class="form-control" ng-model="newform.province"  ng-change="changeCounty(newform.province)" ng-required="newform.usertype == 'cedula'">
                                                <option value=""  translate="SELECT_PROVINCE" class="ng-scope" disabled="disabled">Select your province</option>
                                                <option value="1" selected="selected" label="San José">San José</option>
                                                <option value="2" label="San José">Alajuela </option>
                                                <option value="3" label="San José">Cartago</option>
                                                <option value="4" label="San José">Heredia</option>
                                                <option value="5" label="San José">Guanacaste</option>
                                                <option value="6" label="San José">Puntarenas</option>
                                                <option value="7" label="San José">Limon</option>
                                            </select>
                                            <span class="help-block text-danger" ng-show="form.province.$invalid && submitted" translate="PROVINCE_VALIDATION" class="ng-scope"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4" >
                                        <div class="controls">
                                            <label for="title " translate="COUNTRY" class="ng-scope"></label>
                                            <select name="county" id="county" class="form-control" ng-model="newform.county"  ng-change="changeDistrict(newform.province,newform.county)" ng-required="newform.usertype == 'cedula'">
                                                <option value="" translate="SELECT_COUNTRY" class="ng-scope" selected="selected">Select your county</option>
                                                <option ng-repeat="county in counties" value="{{county.id}}">{{county.name}}</option>
                                            </select>
                                            <span class="help-block text-danger" ng-show="form.county.$invalid && submitted" translate="COUNTRY_VALIDATION" class="ng-scope"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4" >
                                        <div class="controls">
                                            <label for="title "  translate="DISTRICT" class="ng-scope"></label>
                                            <select name="district" id="district" class="form-control" ng-model="newform.district"  ng-required="newform.usertype == 'cedula'">
                                                <option value="" translate="SELECT_DISTRICT" class="ng-scope" selected="selected"></option>
                                                <option ng-repeat="distric in districs" value="{{distric.id}}">{{distric.name}}</option>
                                            </select>
                                            <span class="help-block text-danger" ng-show="form.district.$invalid && submitted" translate="DISTRICT_VALIDATION" class="ng-scope"></span>
                                        </div>
                                    </div>
                                </div>

                                <div id="foreign_address" ng-show="newform.usertype == 'foreign' && newform.residence != 'costrica'">
                                    <div class="form-group col-sm-4 col-md-4">
                                        <div class="controls">
                                            <label for="title "  translate="PROVINCE" class="ng-scope"></label>
                                            <select name="fprovince" id="fprovince" ng-change="changeCounty(newform.fprovince)" class="form-control" ng-model="newform.fprovince" ng-required="newform.usertype == 'foreign' && newform.residence != 'costrica' ">
                                                <option value=""  translate="SELECT_PROVINCE" class="ng-scope" disabled="disabled">Select your province</option>
                                                <option value="1" selected="selected" disabled="disabled" label="San José">San José</option>
                                                <option value="2" label="San José">Alajuela </option>
                                                <option value="3" label="San José">Cartago</option>
                                                <option value="4" label="San José">Heredia</option>
                                                <option value="5" label="San José">Guanacaste</option>
                                                <option value="6" label="San José">Puntarenas</option>
                                                <option value="7" label="San José">Limon</option>
                                                <!--                                                            <option value="" translate="SELECT_PROVINCE" class="ng-scope"></option>
                                                                                                            <option value="1" label="province1">province1</option>
                                                                                                            <option value="2" label="province2">province2</option>-->
                                            </select>
                                            <span class="help-block text-danger" ng-show="form.fprovince.$invalid && submitted" translate="PROVINCE_VALIDATION" class="ng-scope"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <div class="controls">
                                            <label for="title" translate="COUNTRY" class="ng-scope"></label>
                                            <select name="country" id="country" class="form-control" ng-model="newform.country" ng-change="changeDistrict(newform.fprovince,ewform.country)" ng-required="newform.usertype == 'foreign' && newform.residence != 'costrica' ">
                                                <option value="" translate="SELECT_COUNTRY" class="ng-scope" disabled="disabled"></option>
                                                <option ng-repeat="county in counties" value="{{county.id}}">{{county.name}}</option>
                                                <!--                                                            <option value="1" label="Canada">Canada</option>
                                                                                                            <option value="2" label="America">America</option>-->
                                            </select>
                                            <span class="help-block text-danger" ng-show="form.country.$invalid && submitted" translate="COUNTRY_VALIDATION" class="ng-scope"></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-4 col-md-4">
                                        <div class="controls">
                                            <label for="title " translate="STATE" class="ng-scope"></label>
                                            <select name="state" id="state" class="form-control" ng-model="newform.state"  ng-required="newform.usertype == 'foreign' && newform.residence != 'costrica' ">
                                                <option value="" translate="SELECT_STATE" class="ng-scope" disabled="disabled"></option>
                                                <option value="1" label="Stste1">Stste1</option>
                                                <option value="2" label="Stste2">Stste2</option>

                                            </select>
                                            <span class="help-block text-danger" ng-show="form.state.$invalid && submitted" translate="STATE_VALIDATION" class="ng-scope"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4" >
                                        <div class="controls">
                                            <label for="title " translate="CITY" class="ng-scope"></label>
                                            <select name="city" id="city" class="form-control" ng-model="newform.city" ng-required="newform.usertype == 'foreign' && newform.residence != 'costrica' ">
                                                <option value="" translate="SELECT_CITY" class="ng-scope"></option>
                                                <option value="1" label="City1">City1</option>
                                                <option value="2" label="City2">City2</option>
                                            </select>
                                            <span class="help-block text-danger" ng-show="form.city.$invalid && submitted" translate="CITY_VALIDATION " class="ng-scope"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4" >
                                        <div class="controls">
                                            <label for="company" translate="ZIP " class="ng-scope"> </label>
                                            <div class="controls">
                                                <input id="zip" name="zip" type="number" class="form-control" ng-model="newform.zip" ng-required="newform.usertype == 'foreign' && newform.residence != 'costrica' "/>
                                                <span class="help-block text-danger" ng-show="form.zip.$invalid && submitted"translate="ZIP_VALIDATION " class="ng-scope"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="addresses" ng-show="newform.usertype == 'foreign' || newform.usertype == 'cedula'">
                                <div class="row">
                                    <div class="form-group  col-sm-6 col-md-6" ng-class="error('title')">
                                        <label for="title " translate="ADRESS1" class="ng-scope"></label>
                                        <div class="controls">
                                            <input id="address1" name="address1" type="text" class="form-control" ng-model="newform.address1" required/>
                                            <span class="help-block text-danger" ng-show="form.address1.$invalid && submitted" translate="ADRESS1_VALIDATION" class="ng-scope"></span>
                                            <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                        </div>
                                    </div>
                                    <div class="form-group  col-sm-6 col-md-6" ng-class="error('company')">
                                        <label for="company" translate="ADRESS2" class="ng-scope"></label>
                                        <div class="controls">
                                            <input id="address2" name="address2" type="text" class="form-control" ng-model="newform.address2" />
                                            <span class="help-block text-danger" ng-show="form.address2.$invalid && submitted" translate="ADRESS2_VALIDATION" class="ng-scope"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('company')" ng-show="newform.usertype == 'cedula'">
                                <label for="company" translate="POSTAL_CODE" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="postcode" name="postcode" type="text" class="form-control" ng-model="newform.postcode" ng-required="newform.usertype == 'cedula'"/>
                                    <span class="help-block text-danger" ng-show="form.postcode.$invalid && submitted" translate="POSTAL_CODE_VALIDATION" class="ng-scope"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6" ng-class="error('suburb')">
                                    <label for="suburb" translate="DATE_OF_BIRTH" class="ng-scope"></label>
                                    <div class="controls">
                                        <input type="text" ng-minlength="10" ng-maxlength="10" placeholder="DD-MM-YYYY" id="dob" name="dob" ng-model="newform.dob"  min="1950-01-01" required>
                                        <span class="help-block text-danger" ng-show="form.dob.$invalid && submitted" translate="DATE_OF_BIRTH_VALIDATION" class="ng-scope"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-6" ng-class="error('suburb')">
                                    <h4><label for="suburb"><span translate="DEAD" class="ng-scope"></span> : {{newform.death?'Yes':'No'}}</label></h4>
                                    <input type="hidden" name="death" id="death" class="form-control" ng-model="newform.death" />
                                </div>
                                <!--                                            <div class="form-group col-sm-6 col-md-6" ng-class="error('suburb')">
                                                                                <label for="suburb">Dead</label>
                                                                                                                            <select name="death" id="death" class="form-control" ng-model="newform.death" required>
                                                                                                                                <option value="0" label="No">No</option>
                                                                                    <option value="1" label="Yes">Yes</option>
                                                                                </select>
                                                                                <span class="help-block text-danger" ng-show="form.death.$invalid && submitted">Death Value is required!</span>
                                                                            </div>-->
                            </div>

                        </div>

                        <div ng-show="tab == '2'">

                            <h3 translate="CONTACT_INFO" class="ng-scope"></h3>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('phone1')">
                                <label for="phone1" translate="PHONE1" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="phone1" name="phone1" type="text" class="form-control" ng-model="newform.phone1" />
                                    <span class="help-block text-danger" ng-show="form.phone1.$invalid && submitted"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('phone2')">
                                <label for="phone2" translate="PHONE2" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="phone2" name="phone2" type="text" class="form-control" ng-model="newform.phone2" />
                                    <span class="help-block text-danger" ng-show="form.phone2.$invalid && submitted"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('email1')">
                                <label for="email1" translate="EMAIL1" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="email1" name="email1" type="email" class="form-control" ng-model="newform.email1" />
                                    <span class="help-block text-danger" ng-show="form.email1.$invalid && submitted">
                                        email1 is required!</span>

                                </div>
                            </div>

                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('email2')">
                                <label for="email2" translate="EMAIL2" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="email2" name="email2" type="text" class="form-control" ng-model="newform.email2" />
                                    <span class="help-block text-danger" ng-show="form.email2.$invalid && submitted">email2 is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('cellphone')">
                                <label for="cellphone" translate="CELLPHONE1" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="cellphone" name="cellphone" type="text" class="form-control" ng-model="newform.cellphone" />
                                    <span class="help-block text-danger" ng-show="form.cellphone.$invalid && submitted">cellphone is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('cellphone2')">
                                <label for="cellphone2" translate="CELLPHONE2" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="cellphone2" name="cellphone2" type="text" class="form-control" ng-model="newform.cellphone2" />
                                    <span class="help-block text-danger" ng-show="form.cellphone2.$invalid && submitted">cellphone2 is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('homephone')">
                                <label for="homephone" translate="HOMEPHONE" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="homephone" name="homephone" type="text" class="form-control" ng-model="newform.homephone" />
                                    <span class="help-block text-danger" ng-show="form.homephone.$invalid && submitted">homephone is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('fax')">
                                <label for="fax" translate="FAX" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="fax" name="fax" type="text" class="form-control" ng-model="newform.fax" />
                                    <span class="help-block text-danger" ng-show="form.fax.$invalid && submitted">fax is required!</span>
                                </div>
                            </div>



                            <h3>Social Info</h3>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('facebook')">
                                <label for="facebook" translate="FACEBOOK" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="facebook" name="facebook" type="text" class="form-control" ng-model="newform.facebook" />
                                    <span class="help-block text-danger" ng-show="form.phone1.$invalid && submitted">facebook is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('twitter')">
                                <label for="twitter" translate="TWITTER" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="twitter" name="twitter" type="text" class="form-control" ng-model="newform.twitter" />
                                    <span class="help-block text-danger" ng-show="form.twitter.$invalid && submitted">twitter is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('linkedin')">
                                <label for="linkedin" translate="LINKEDIN" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="linkedin" name="linkedin" type="text" class="form-control" ng-model="newform.linkedin" />
                                    <span class="help-block text-danger" ng-show="form.linkedin.$invalid && submitted">linkedin is required!</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6 col-md-6" ng-class="error('google')">
                                <label for="google" translate="GOOGLE" class="ng-scope"></label>
                                <div class="controls">
                                    <input id="google" name="google" type="text" class="form-control" ng-model="newform.google" />
                                    <span class="help-block text-danger" ng-show="form.google.$invalid && submitted">google is required!</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="tab == '3'">
                            <div class="form-group  col-sm-12 col-md-12" ng-class="error('google')">
                                <div class="col-md-12">
                                    <h3 translate="UPLOAD_PROFILE_PIC" class="ng-scope"></h3>
                                    <span translate="SELECT_IMAGE" class="ng-scope"></span>
                                    <input type="file" nv-file-select="" uploader="profile_uploader" />
                                </div>

                                <table class="table">
                                    <tbody>

                                        <tr ng-repeat="item in profile_uploader.queue">
                                            <td id="pr_image" style="width: 150px"></td>
                                    <input id="profile_image" name="profile_image" type="hidden" class="form-control" ng-model="newform.profile_image" />
                                    <td ng-show="profile_uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                    <td ng-show="profile_uploader.isHTML5" style="width : 200px">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        {{item.upload}}
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span>  <span translate="UPLOAD" class="ng-scope"></span>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span>  <span translate="CANCEL" class="ng-scope"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span>     <span translate="REMOVE" class="ng-scope"></span> 
                                        </button><br>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h3 translate="PHOTO_ID" class="ng-scope"></h3>
                            <input id="photoids" name="photoids" type="hidden" class="form-control" ng-model="newform.photoids" />
                            <div class="form-group  col-sm-12 col-md-12" ng-class="error('google')">

                                <div class="col-md-12">

                                    <div ng-show="uploader.isHTML5">
                                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader" translate="DRAP_DROP_IMAGE" class="ng-scope"> 

                                        </div>
                                    </div>
                                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                    <span translate="ADD_IMAGE" class="ng-scope"></span>
                                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                                </div>


                                <table class="table">
                                    <tbody>

                                        <tr ng-repeat="item in uploader.queue">
                                            <td id="{{removespaces(item.file.name)}}" style="width: 150px"></td>
                                            <!--  <td><input type="text" ng-model="newform.image_name"></td>  -->
                                            <td >
                                                <select id="{{removespaces(item.file.name)}}_category" >
                                                    <option ng-repeat=" category in image_cat" value="{{category.id}}">{{category.category_name}}
                                                    </option>
                                                </select> 
                                            </td>
                                            <td>
                                                <!-- <img style="height :100px; width : 133px;"   
                                                src="{{path}}/public/upload_images/id_images/{{item.file.name}}" />
                                                </td>  -->
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5" style="width : 200px">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                {{item.upload}}
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> <span translate="UPLOAD" class="ng-scope"></span>
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> <span translate="CANCEL" class="ng-scope"></span> 
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> <span translate="REMOVE" class="ng-scope"></span>
                                                </button><br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <div>
                                    <div>
                                        <span translate="ALL_ITEMS_PROGRESS" class="ng-scope">  :</span>
                                        <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span><span translate="UPLOAD_ALL" class="ng-scope"></span>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span><span translate="CANCELL_ALL" class="ng-scope"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> <span translate="REMOVE_ALL" class="ng-scope"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button ng-click="submitted = true" class="btn btn-xl">Save</button>
                            </div>
                            <div ng-show="form.$submitted && form.$invalid" style="color:red;">
                    <!--{{form.$error.required.length}} errors.-->
                    Please Fill All Fields
                                </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>


</div>
</div>
