<div class="row">
    <div class="col-md-6 col-lg-7 col-center">
        <div class="panel">
            <header class="panel-heading">
                <h1>{{title}}</h1>
            </header>
            <div class="panel-body">
                <div>
                    <form name="form" role="form" method="POST" ng-submit="addcorporation(newform, form.$valid)" novalidate nv-file-drop=""  filters="queueLimit, customFilter">

                        <div class="form-group" ng-class="error('title')" >
                            <label for="title " translate="ID_NUMBER"> </label>
                            <div class="controls">
                                <input id="idnumber" ng-minlength="9" ng-maxlength="9" name="idnumber" type="text"  class="form-control" ng-model="newform.idnumber" required/>
                                <span class="help-block text-danger" ng-show="form.idnumber.$invalid && submitted">Please Enter valid 9 digit ID!</span>
                                <span><button type="button" ng-click="loaddata()" class="btn btn-xl">Load</button><span>
                                        <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                             </div>
                        </div>
                      <div class="form-group" ng-class="error('title')">
                                            <label for="title " translate="TOMO" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="tomo" name="tomo" type="text" class="form-control" ng-model="newform.tomo" required/>
                                                <span class="help-block text-danger" ng-show="form.tomo.$invalid && submitted"><span translate="TOMO"></span> <span translate="IS_REQUIRED"></span></span>
                                                <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                            </div>
                                        </div>
                         <div class="form-group" ng-class="error('title')">
                                            <label for="title " translate="ASIENTO" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="asiento" name="asiento" type="text" class="form-control" ng-model="newform.asiento" required/>
                                                <span class="help-block text-danger" ng-show="form.asiento.$invalid && submitted"><span translate="ASIENTO"></span> <span translate="IS_REQUIRED"></span></span>
                                                <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                            </div>
                                        </div>
                       
                                        
                                        <div class="form-group" ng-class="error('title')">
                                            <label for="title " translate="REGISTRATION_BOOK" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="registration_book" name="registration_book" type="text" class="form-control" ng-model="newform.registration_book" required/>
                                                <span class="help-block text-danger" ng-show="form.registration_book.$invalid && submitted"><span translate="REGISTRATION_BOOK"></span> <span translate="IS_REQUIRED"></span></span>
                                                <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="error('title')">
                                            <label for="title " translate="PAGE" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="page" name="page" type="text" class="form-control" ng-model="newform.page" required/>
                                                <span class="help-block text-danger" ng-show="form.page.$invalid && submitted"><span translate="PAGE"></span> <span translate="IS_REQUIRED"></span></span>
                                                <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="error('title')">
                                            <label for="title " translate="RECORD" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="record" name="record" type="text" class="form-control" ng-model="newform.record" required/>
                                                <span class="help-block text-danger" ng-show="form.record.$invalid && submitted"><span translate="RECORD"></span> <span translate="IS_REQUIRED"></span></span>
                                                <!--<p class="text-muted">Tell us more about this Jobba i.e. Mixologist, Cocktail Whiz.</p>-->
                                            </div>
                                        </div>
                                        <hr>
                                        <!--Stock Information Block-->
                                         <h3  translate="STOCK_INFORMATION" class="ng-scope"></h3>
                                         
                                         <div class="form-group" ng-class="error('typeId')">
                                            <label for="typeId"  translate="CORPORATION_TYPE" class="ng-scope"></label>
                                            <div class="controls">
                                                <select ng-change="reset()" name="corporation_type" id="corporation_type" class="form-control" ng-model="newform.corporation_type" required>
                                                    <option value="" class=""  translate="SELECT_NAME" class="ng-scope"></option>
                                                    <option value="commercial" label="commercial"  translate="COMMERCIAL" class="ng-scope"></option>
                                                    <option value="Non Commercial" label="foreign "  translate="NON_COMMERCIAL" class="ng-scope"></option>
                                                </select>
                                                <span class="help-block text-danger" ng-show="form.corporation_type.$invalid && submitted"><span translate="CORPORATION_TYPE"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('president')">
                                            <label for="president"  translate="NO_OF_SHARES" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="no_of_shares" name="no_of_shares" type="text" class="form-control" ng-model="newform.no_of_shares" required/>
                                                <span class="help-block text-danger" ng-show="form.no_of_shares.$invalid && submitted"><span translate="NO_OF_SHARES"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>  
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('president')">
                                            <label for="president"  translate="SHAREHOLDERS" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="shareholder" name="shareholder" type="text" class="form-control" ng-model="newform.shareholder" required/>
                                                <span class="help-block text-danger" ng-show="form.shareholder.$invalid && submitted"><span translate="SHAREHOLDERS"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>  
                                         <div class="form-group  col-sm-6 col-md-6" ng-class="error('company')" >
                                            <label for="share_value"  translate="SHARE_VALUES" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="share_value" name="share_value" type="text" class="form-control" ng-model="newform.share_value" required/>
                                                <span class="help-block text-danger" ng-show="form.share_value.$invalid && submitted"><span translate="SHARE_VALUES"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                         
                                                <div class="form-group col-sm-6 col-md-6" >
                                                    <div class="controls">
                                                        <label for="capital"  translate="CAPITAL" class="ng-scope"></label>
                                                        <select name="capital" id="capital" class="form-control" ng-model="newform.capital" required>
                                                            <option value="" class=""  translate="SELECT_CAPITAL" class="ng-scope"></option>
                                                            <option value="1" label="Capital 1">Capital 1</option>
                                                            <option value="2" label="Capital 2">Capital 2</option>
                                                        </select>
                                                        <span class="help-block text-danger" ng-show="form.capital.$invalid && submitted"><span translate="CAPITAL"></span> <span translate="IS_REQUIRED"></span></span>
                                                    </div>
                                                </div>
                                            
                                        <h3>Board Of Directors</h3>
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('president')">
                                            <label for="president"  translate="PRESIDENT" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="president" name="president" type="text" class="form-control" ng-model="newform.president" required/>
                                                <span class="help-block text-danger" ng-show="form.president.$invalid && submitted"><span translate="PRESIDENT"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('vice_president')">
                                            <label for="vice_president"  translate="VICE_PRESIDENT" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="vice_president" name="vice_president" type="text" class="form-control" ng-model="newform.vice_president" required/>
                                                <span class="help-block text-danger" ng-show="form.vice_president.$invalid && submitted"><span translate="VICE_PRESIDENT"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('secretary')">
                                            <label for="secretary"  translate="VICE_PRESIDENT_2" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="vice_president_2" name="vice_president_2" type="text" class="form-control" ng-model="newform.vice_president_2" required/>
                                                <span class="help-block text-danger" ng-show="form.vice_president_2.$invalid && submitted"><span translate="VICE_PRESIDENT_2"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                     

                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('treasurer')">
                                            <label for="treasurer"  translate="TREASURER" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="email2" name="treasurer" type="text" class="form-control" ng-model="newform.treasurer" required/>
                                                <span class="help-block text-danger" ng-show="form.treasurer.$invalid && submitted"><span translate="TREASURER"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('comptroller')">
                                            <label for="comptroller"  translate="Comptroller" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="comptroller" name="comptroller" type="text" class="form-control" ng-model="newform.comptroller" required/>
                                                <span class="help-block text-danger" ng-show="form.comptroller.$invalid && submitted"><span translate="Comptroller"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                           <div class="form-group  col-sm-6 col-md-6" ng-class="error('secretary')">
                                            <label for="secretary"  translate="SECRETARY" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="email1" name="secretary" type="text" class="form-control" ng-model="newform.secretary" required/>
                                                <span class="help-block text-danger" ng-show="form.secretary.$invalid && submitted"><span translate="SECRETARY"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>

                                        <h3   translate="MANAGERS" class="ng-scope"></h3>
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('manager1')">
                                            <label for="manager1"  translate="MANAGERS1" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="twitter" name="manager1" type="text" class="form-control" ng-model="newform.manager1" required/>
                                                <span class="help-block text-danger" ng-show="form.manager1.$invalid && submitted"><span translate="MANAGERS1"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6 col-md-6" ng-class="error('manager2')">
                                            <label for="manager2"  translate="MANAGERS2" class="ng-scope"></label>
                                            <div class="controls">
                                                <input id="linkedin" name="manager2" type="text" class="form-control" ng-model="newform.manager2" required/>
                                                <span class="help-block text-danger" ng-show="form.manager2.$invalid && submitted"><span translate="MANAGERS2"></span> <span translate="IS_REQUIRED"></span></span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <button ng-click="submitted = true" class="btn btn-xl">Save</button>
                                            </div>
                                        </div>
                                        </form>
                                        </div>

                                        <!--</form>-->
                                        </div>

                                        </div>
                                        </div>
                                        </div>

