<div class="row">
    <div class="col-md-6 col-lg-7 col-center">
        <div class="panel">
            <header class="panel-heading">
                <h1>{{title}}</h1>
    <div><span class="cursor" ng-click="album = true">Album</span> 
    <span  class="cursor padding1" ng-click="album = false" >List Display</span>
     </div>
                   
            </header>
            <div class="panel-body">
                <div data-ng-controller='clientController'>
                </div>
            </div>
            <h3><div class="list-group-item" ng-show="clients.length == 0">No Client Found</div></h3>
            <div ng-repeat="client in clients|orderBy : 'Lastname1' ">
            <a href="#/addclients/{{client.usertype}}/{{client.passport}}{{client.idnumber}}" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <img ng-show="album" src="{{path}}/public/upload_images/id_images/{{client.profile_image}}"  width="50px" height="50px" />
                    <span ng-hide="album">{{client.idnumber}}</span></br>
                    <span ng-hide="album">  {{client.email1}}</span>
                </h4>
                <p class="list-group-item-text">{{client.firstname}} {{client.Lastname1}}</p>
            </a>
</div>
        </div>
    </div>
</div>

