<div class="row">
    <div class="col-md-6 col-lg-7 col-center">
        <div class="panel">
            <header class="panel-heading">
                <h1>{{title}}</h1>
<!--    <div><span class="cursor" ng-click="album = true">Album</span> 
    <span  class="cursor padding1" ng-click="album = false" >List Display</span>-->
     </div>
                   
            </header>
            <div class="panel-body">
                <div data-ng-controller='allCorporationsController'>
                </div>
            </div>
            <div ng-repeat="corporation in corporations ">
            <a href="#/addcorporations/{{corporation.idnumber}}" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <!--<img  src="{{path}}/public/upload_images/id_images/{{client.profile_image}}"  width="50px" height="50px" />-->
                    <span >{{corporation.idnumber}}</span></br>
                    <span >  {{corporation.corporation_name}}</span>
                </h4>
                <!--<p class="list-group-item-text">{{client.firstname}} {{client.Lastname1}}</p>-->
            </a>
</div>
        </div>
    </div>
</div>

