<div data-ng-controller='registersuccessController' class="well text-center">
    <h2>Your Job has been posted successfully</h2>
    <span class="fa-stack fa-5x text-success">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
    </span>
    <br>
    <br>
    <h4>An activation email has been sent to your account. Please click the link in your email to activate your account as soon as possible.</h4>
    <br>
    <h4><a href="#/successReg" ng-click="checkLogin()">Back to Dashboard</a></h4>
    <h4><a href="#/viewseeker" >View Suitable Jobbas</a></h4>
</div>