<div ng-show="activated"  class="well text-center">
    <h2>Success!</h2>
    <span class="fa-stack fa-5x text-success">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
    </span>
    <br>
    <br>
    <h4>Your account has been activated successfully</h4>
    <!--<h4 data-ng-controller='jobbaSeekerRegSuccessController'>Please <a href="http://hireajobba.com/login#/" >Sign in</a></h4>-->
    <h4>Please <a href="http://notasoft.info/login#/" >Sign in</a></h4>
        
</div>
<div ng-hide="activated"  class="well text-center">
    <br>
    <h4>Your account is already activated</h4>
    <!--<h4 data-ng-controller='jobbaSeekerRegSuccessController'><a href="http://hireajobba.com/login#/" >Back to login</a></h4>-->
    <h4 ><a href="http://notasoft.info/login#/" >Back to login</a></h4>
        
</div>